html,
body {
    margin: 0px;
}

.hidden {
    display: none;
}

/*배경 이미지*/
.img0 {
    background-image: url("img/0.jpg");
}

.img1 {
    background-image: url("img/1.jpg");
}

.img2 {
    background-image: url("img/2.jpg");
}

/*배경 이미지 크기 자동 조절(스케일링)
반응형 웹 디자인*/
.imgForm {
    /*https://heinafantasy.com/168 참고*/
    background-size: cover;
    /*이미지 비율 유지하며 꽉 채움*/
    background-repeat: no-repeat;
    /*빈 공간 생겨도 반복 X*/
    background-attachment: fixed;
    /*배경을 뷰포트에 고정, 배경 스크롤 안 됨*/
    background-position: center;
    /*배경 이미지 위치 지정*/
}

/*위치 설정*/
.top-row {
    height: 15vh;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.center-above {
    height: 15vh;
}

.center {
    height: 30vh;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-below {
    height: 25vh;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-row {
    height: 15vh;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*글꼴 설정*/
#clock {
    font-size: 150px;
    font-weight: 500;
    color: white;
    /*왜 마진이 자동으로 채워지는지 모르겠다*/
    margin: 0px;
}

.inputForm {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid white;
    background-color: transparent;
    color: white;
}

input::placeholder {
    color: white;
}

#login-button {
    border: none;
    background-color: transparent;
    color: white;
}

#lyrics {
    color: white;
}

#weather {
    color: white;
}